body,
html {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #f49f1c;
}

.container {
    display: flex;
    height: 100vh;
}

#img {
    background-image: url(/img/ICON-404.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    height: 300px;
    margin-left: 8%;
}

#img2 {
    background-image: url(/img/LOGO404.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    height: 300px;
    margin-left: 8%;
}

#img3 {
    background-image: url(/img/coding-workshop-animate.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    height: 300px;
    margin-left: 8%;
}

.left-panel,
.right-panel,
.center-panel {
    flex: 1;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #f49f1c;
    border: 1px #f49f1c solid;
}

.left-panel h2 {
    font-size: 40px;
    border: 1px black solid;
    padding-left: 25%;
}

.left-panel p {
    font-size: 30px;
}

.center-panel h2 {
    font-size: 40px;
    border: 1px black solid;
    padding-left: 26%;
}

.center-panel p {
    font-size: 30px;
    margin-left: 15px;
}

.right-panel h2 {
    font-size: 40px;
    border: 1px black solid;
    padding-left: 25%;
}

.right-panel p {
    font-size: 30px;
}

.left-panel {
    background-color: black;
}

.center-panel {
    background-color: black;
}

.right-panel {
    background-color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
